[Unit]
Description=Run pywal at night (or when logging in if last timer fired).

[Service]
Type=oneshot
ExecStart=/bin/bash /home/gordon/bin/pywal_night.sh

