/.cache/
/.cfg/
/.cfgfresh/
/.config/VirtualBox/
/.config/mpd/playlists/
/.config/opera/
/.config/pulse/
/.config/vlc/
/.icons/
/.local/
/.nv/
/.pki/
/.ssh/
/.steam/
/.themes/
/.thumbnails/
/.vim/
/dev/
/.Xauthority
/.bash_history
/.config/QtProject.conf
/.config/mpd/database
/.config/mpd/pid
/.config/mpd/state
/.config/mpd/sticker.sql
/.config/pavucontrol.ini
/.fehbg
/.lesshst
/.steampath
/.steampid
/.viminfo
/Documents
/Downloads
/Music
/Pictures
/Video
/VirtualBox VMs
**/*.bkp
**/*log
**/*log.gz
**/*.tmp

